#businessCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: #ABB0CC;

  .card {
    padding: 0 20px;
    text-align: left;

    &:last-child {
      width: 90%;
    }

    .wrapper {
      display: flex;
      align-items: center;

      .imageWrapper {
        margin: 40px 0;
  
        min-width: 200px;
        min-height: 200px;
        rotate: -90deg;
        border-radius: 50%;
  
        background-position-x: -50px;
        background-image: url(../../public/images/trabajoimg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .textWrapper {
        margin-left: 24px;
        width: 90%;
      } 
    }
  }
}


@media (max-width: 920px) {
  #businessCard {
    .card {
      width: fit-content;
    }
  }
}

@media (max-width: 320px) {
  #businessCard {
    .card {

      &:last-child {
        width: 70%;
        padding-right: 0;
      }
      .wrapper {
        flex-direction: column;

        .textWrapper {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}
